<%- include("./partials/header") %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <section class="team">
        <div class="container">
            <h1>Naš tim</h1>
            <div class="row">
                <div class="col-md-4 profile text-center">
                    <div class="img-box">
                        <img src="https://static.vecteezy.com/system/resources/previews/000/550/731/original/user-icon-vector.jpg" class="img-responsive">
                        <ul>
                            <a href="#">
                                <li><i class="fa fa-facebook"></i></li>
                            </a>
                            <a href="#">
                                <li><i class="fa fa-twitter"></i></li>
                            </a>
                            <a href="#">
                                <li><i class="fa fa-linkedin"></i></li>
                            </a>
                        </ul>
                    </div>
                    <h2>Toni Dinkic</h2>
                    <h3>Web Developer</h3>
                    <p>Moje ime je Toni Đinkić imam 23 godina i dolazim iz Mostara. Student sam 3.godine Informatike na Fakultetu prirodoslovno-matematičkih i odgojnih znanosti u Mostaru. Trenutno radim kao 3D Artist u Cornet-u u Mostaru.</p>
                </div>
                <div class="col-md-4 profile text-center">
                    <div class="img-box">
                        <img src="https://static.vecteezy.com/system/resources/previews/000/550/731/original/user-icon-vector.jpg" class="img-responsive">
                        <ul>
                            <a href="#">
                                <li><i class="fa fa-facebook"></i></li>
                            </a>
                            <a href="#">
                                <li><i class="fa fa-twitter"></i></li>
                            </a>
                            <a href="#">
                                <li><i class="fa fa-linkedin"></i></li>
                            </a>
                        </ul>
                    </div>
                    <h2>Mile Pervan</h2>
                    <h3>Web Developer</h3>
                    <p>Moje ime je Mile Pervan imam 22 godina i dolazim iz Mostara. Student sam 3.godine Informatike na Fakultetu prirodoslovno-matematičkih i odgojnih znanosti u Mostaru. Završio sam Osnovnu školu Ivana Gundulića u Mostaru i Srednju elektrotehničku
                        školu Ruđer Bošković smjer tehničar za elektroenergetiku. Ovo mi je prvi projekt koji sam radio, nadam se da će Vam se svidjeti.</p>
                </div>
                <div class="col-md-4 profile text-center">
                </div>
            </div>

        </div>




        </div>
    </section>

    <%- include("./partials/footer") %>